@font-face {
    font-family: 'Graphik LCG';
    src: local('Graphik LCG Semibold'), local('Graphik-LCG-Semibold'),
        url('GraphikLCG-Semibold.woff2') format('woff2'),
        url('GraphikLCG-Semibold.woff') format('woff'),
        url('GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }